/*
 * @package YouPinWebAdmin
 */
/*!
 * Stylesheet
 */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/**
 * @description
 * Disables selection of content of a given element
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/user-select-none
 *
 * @param value none|auto optional
 * @default none
 * @returns
 *   -webkit-user-select: <value>;
 *      -moz-user-select: <value>;
 *       -ms-user-select: <value>;
 *           user-select: <value>;
 *
 * @example
 *   .selector {
 *     @include user-select;
 *   }
 */
/**
 * @description
 * Generates `placeholder` content for a given element
 *
 * @author romamatusevich
 *
 * @link MDN https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-placeholder
 * @link css-tricks http://css-tricks.com/snippets/css/style-placeholder-text/
 *
 * @returns
 *    &::-webkit-input-placeholder {
 *        <content property 1>: <content value 1>;
 *        ...
 *        <content property n>: <content value n>;
 *    }
 *    &::-moz-placeholder {
 *        <content property 1>: <content value 1>;
 *        ...
 *        <content property n>: <content value n>;
 *    }
 *    &:-ms-input-placeholder {
 *        <content property 1>: <content value 1>;
 *        ...
 *        <content property n>: <content value n>;
 *    }
 *
 * @example
 *   .selector {
 *     @include placeholder {
 *         color: #bada55;
 *         font-weight: bold;
 *     }
 *   }
 */
.mail-content {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: #757575 !important;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'Verdana', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.mail-content * {
  color: #757575 !important;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'Verdana', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.mail-content div,
.mail-content p {
  color: #757575 !important;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'Verdana', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

.mail-content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.mail-content h1,
.mail-content h2,
.mail-content h3,
.mail-content h4,
.mail-content h5,
.mail-content h6 {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Prompt", "Thonburi", "Tahoma", sans-serif !important !important;
  line-height: 1.5 !important;
}

.mail-content h1 {
  font-size: 32px !important;
}

.mail-content h2 {
  font-size: 28px !important;
}

.mail-content h3 {
  font-size: 20px !important;
}

.mail-content h4 {
  font-size: 16px !important;
}

.mail-content h5 {
  font-size: 14px !important;
}

.mail-content h6 {
  font-size: 14px !important;
}

.mail-content h1 {
  color: #009de0 !important;
}

.mail-content h2 {
  color: #009de0 !important;
}

.mail-content h3 {
  color: #00567a !important;
}

.mail-content h4 {
  color: #00567a !important;
}

.mail-content ul {
  color: #757575 !important;
  padding: 0 !important;
  margin-left: 2rem !important;
}

.mail-content ul > li {
  list-style: disc;
}

.mail-content ol {
  color: #757575 !important;
  padding: 0 !important;
  margin-left: 2rem !important;
}

.mail-content a {
  color: #009de0 !important;
}

.mail-content a:hover, .mail-content a:focus, .mail-content a:active {
  color: #2ec0ff !important;
  text-decoration: underline !important;
}

.mail-content pre {
  color: #757575 !important;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'Verdana', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 2rem !important;
  background-color: #eeeeee !important;
  border: none !important;
  border-radius: 0.3rem !important;
}

.mail-content blockquote {
  color: #757575 !important;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'Verdana', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-size: 28px !important;
  color: #212121 !important;
}

.mail-content blockquote:before {
  content: '"';
  display: inline;
}

.mail-content table thead,
.mail-content table th {
  font-weight: 500 !important;
  background-color: #eeeeee !important;
  border-bottom: 1px solid #e0e0e0 !important;
}

.mail-content table tbody tr {
  background-color: none !important;
}

.mail-content table tbody tr:nth-child(2n+1) {
  background-color: #f5f5f5 !important;
}

.mail-content table th,
.mail-content table td {
  padding: 1rem 1.5rem !important;
}
/*# sourceMappingURL=email.css.map */