// general
form {
  &.is-fullwidth { width: 100%; }
}

.field {
  &.is-inline {
    display: inline-block;
    margin: 0;
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  label {
    font-weight: bold;
  }
}

// materialize
.input-field.col {
  label {
    color: $cl-gray;
    font-size: $fs-xs;

    &.active {
      font-size: $fs-sm;
    }

  }
  &.required {
    &:before {
      content: '*';
      display: inline-block;
      position: absolute;
      top: 0;
      left: -0.5rem;
      color: $cl-danger;
      font-size: $fs-lg;
      line-height: $lh-normal;
    }
  }
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  + label:after {
    top: 3rem;
  }
  &.flat {
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

select {
  border-color: $cl-border;
}

.select-wrapper {

  input.select-dropdown {
    border-color: $cl-secondary;
  }

}

.chips {
  border: 1px solid $cl-border;
  border-radius: $br-default;
  padding: 5px;
  padding-bottom: 0;
}


// HACK: bulma fix over materialize
.control {
  &input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea {
    &.input {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      box-sizing: border-box;
      border-radius: $br-default;
      border: 1px solid $cl-border;
      margin: 0;

      height: auto;
      line-height: $lh-normal; // 1.5;
      padding: 1rem;
      font-size: $fs-md; // 1.4rem;
    }
  }
  textarea {
    &.input {
      min-height: 80px;
    }
  }
}

textarea.textarea {
  box-shadow: none;
}