
.icon {
  &.is-danger { color: $cl-danger; }
  &.is-warning { color: $cl-warning; }
  &.is-success { color: $cl-success; }
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image {
  // display: block;
  // padding-top: 100%;
  @extend .bg;

  &.align-bottom {
    background-position: bottom center;
  }
  &.align-top {
    background-position: top center;
  }

  &.r1x1 {
    padding-top: 100%;
  }
  &.r1x2 {
    padding-top: 200%;
  }
  &.r1x3 {
    padding-top: 300%;
  }
  &.r1x4 {
    padding-top: 400%;
  }
  &.r2x1 {
    padding-top: 50%;
  }
  &.r3x1 {
    padding-top: 33.33%;
  }
  &.r3x2 {
    padding-top: 66.66%;
  }
  &.r4x1 {
    padding-top: 25%;
  }
}

.image-hidden {
  visibility: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}

.profile-image {
  $size: 36px;
  display: inline-block;
  padding: 0;
  width: $size;
  height: $size;
  border-radius: $size;
  background-color: $cl-verylightgray;
}

profile-image {
  display: block;
  .media {
    padding: 0 !important;
    .media-left {
      padding: 0 !important;
      margin: 0;
    }
    .media-content {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 0 1rem;
    }
  }
  .image {
    $size: 48px;
    abbr {
      display: block;
      font-size: $size * 0.7;
      line-height: $size;
      font-weight: $fw-bold;
      color: $cl-white;
      background-color: $cl-primary;
      border: none;
      width: 100%;
      height: inherit;
      text-align: center;
    }
  }

  &.is-small {
    .image {
      $size: 24px;
      abbr {
        font-size: $size * 0.7;
        line-height: $size;
      }
    }
  }

  &.is-round {
    .image {
      border-radius: 100%;
      overflow: hidden;
    }
  }

  &.is-round-box {
    .image {
      border-radius: $br-large;
      overflow: hidden;
    }
  }
}
