@import '../../../../node_modules/slick-lightbox/src/styles/slick-lightbox.sass';

image-slider-lightbox {
  .lightbox-group {
    flex-wrap: wrap;

    .column {
      padding: 0.5rem;
      .thumbnail {
        display: inline-block;
        img {
          display: inline-block;
          vertical-align: top;
        }
      }
    }

    &.is-highlight {
      .column:first-child {
        width: 100%;
      }
    }
  }
}