
.icon {
  &.is-danger { color: $cl-danger; }
  &.is-warning { color: $cl-warning; }
  &.is-success { color: $cl-success; }
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image {
  // display: block;
  // padding-top: 100%;
  @extend .bg;

  &.align-bottom {
    background-position: bottom center;
  }
  &.align-top {
    background-position: top center;
  }

  &.r1x1 {
    padding-top: 100%;
  }
  &.r1x2 {
    padding-top: 200%;
  }
  &.r1x3 {
    padding-top: 300%;
  }
  &.r1x4 {
    padding-top: 400%;
  }
  &.r2x1 {
    padding-top: 50%;
  }
  &.r3x1 {
    padding-top: 33.33%;
  }
  &.r3x2 {
    padding-top: 66.66%;
  }
  &.r4x1 {
    padding-top: 25%;
  }
}

.image-hidden {
  visibility: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}

.profile-image {
  $size: 36px;
  display: inline-block;
  padding: 0;
  width: $size;
  height: $size;
  border-radius: $size;
  background-color: $cl-verylightgray;
}

profile-image {
  display: inline-block;
  &.is-block {
    display: block;
  }
  .media {
    padding: 0 !important;
    .media-left {
      display: inline-flex;
      padding: 0 !important;
      margin: 0;
    }
    .media-content {
      // display: flex;
      display: inline-flex;
      flex-direction: column;
      align-self: center;
      padding: 0 1rem;
    }
    .media-right {
      display: inline-flex;
    }
  }
  .image {
    $size: 48px;
    abbr {
      display: block;
      font-size: $size * 0.7;
      line-height: $size;
      font-weight: $fw-bold;
      color: $cl-white;
      background-color: $cl-primary;
      border: none;
      width: 100%;
      height: inherit;
      text-align: center;
    }
  }

  &.is-small {
    .image {
      $size: 24px;
      abbr {
        font-size: $size * 0.7;
        line-height: $size;
      }
    }
  }

  &.is-round {
    .image {
      border-radius: 100%;
      overflow: hidden;
    }
  }

  &.is-round-box {
    .image {
      border-radius: $br-large;
      overflow: hidden;
    }
  }
}

issue-create-page {
  figure
    .img-tool {
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      &.top-left { top: 0; left: 0; right: auto; }
      &.top-right { top: 0; left: auto; right: 0; }
      &.bottom-left { top: auto; bottom: 0; left: 0; right: auto; }
      &.bottom-right { top: auto; bottom: 0; left: auto; right: 0; }
    }

  figure.image {
    width: 100px;
    height: 100px;
  }

  .issue-photos {
    .is-12 {
      width: 100px;
      margin-right: 10px;
    }
  }
}