
.issue {
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  @include align-items(streth);
  @include align-content(stretch);

  border-radius: $ps-xxs;
  padding: $ps-small;

  background: $cl-white;
  border: 1px solid $cl-border;
  margin: 0.5rem 0;

  &.is-resolved {
    background: $cl-gray-200;
  }
  &.is-rejected {
    background: $cl-gray-200;
  }

  a {
    text-decoration: none;
  }

  label {
    font-size: 1.2rem;
    font-weight: bold;
    color: $cl-darkgray;
    margin-right: 0.5rem;
  }
  .meta {
    font-size: $fs-xs;
    .icon {
      margin-right: 0.5rem;
    }
  }

  .issue-title {
    .title {
      @include text-hover($cl-black, $cl-link);
    }
  }

  .issue-select {
    @include flex(0, 0, 50px);
  }

  .issue-img {
    @include flex(0, 1, 80px);
    img,
    .img {
      display: block;
      margin:  0px;
      padding: 0px;
      vertical-align: middle;

      $size: 20%;
      line-height: $size;
      width:   $size;
      height:  $size;

      width: 100%;
      height: 0;
      padding-top: 100%;
      background-color: $cl-lightgray;
      background-size: cover;
      background-position: center center;
    }
  }

  .issue-body {
    @include flex(2, 1, 320px);
    vertical-align: top;
    margin-left: $ps-small;
    width: 53%;
    position: relative;

    .issue-desc {
      max-height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: $ps-small;
      margin-bottom: $ps-small;
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 1rem;
    }
  }

  .issue-id {
    b {
      margin-right: $ps-default;
    }
  }

  .bubble {
    padding: 0;
    color: $cl-primary;
    cursor: pointer;

    & + .bubble {
      margin-left: 0.5rem;
    }
  }

  .issue-tags {
    span {
       margin-right: $ps-xxs;
    }
  }

  .issue-info {
    @include flex(1, 1, 200px);
    //  border-left: solid 1px $cl-lightgray;
     padding: 0 $ps-xs;
     width: 25%;
     display: inline-block;
     vertical-align: top;
     text-transform: capitalize;

     div {
       vertical-align: middle;
       padding: $ps-xxs 0px;
     }

     .big-text {
        font-size: $fs-md;
        float: right;
     }

     .icon {
         vertical-align: middle;
         margin-right: $ps-xxs;
     }
  }

  // .bt-manage-issue {
  //    border: 1px solid $cl-gray;
  //    cursor: pointer;
  //    display: inline-block;
  //    width: 100%;
  //    text-align: center;
  // }

  .issue-compact { display: none; }

}

.issue.is-compact {
  // margin-top: 0;
  // margin-bottom: 0;
  // overflow: auto;
  .issue-img {
    @include flex(0, 0, 80px);
    .issue-id { display: none; }
  }
  .issue-body { display: none; }
  .issue-info { display: none; }
  .issue-compact {
    display: inline-block;
    @include flex(1, 1, 200px);
    // border-left: solid 1px $cl-lightgray;
    padding: 0 $ps-xs;
    .issue-desc {
      max-height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: $ps-small;
      margin-bottom: $ps-small;
    }
  }
}

.issue.is-small {
  .issue-img {
    flex: 0 0 30px;
  }
  .issue-body,
  .issue-compact {
    .issue-title {
      .title {
        display: none;
        font-size: $fs-md;
      }
    }
    .issue-desc {
      margin: 0.5rem 0 0;
    }
    .issue-meta {
      display: none;
    }
  }
}


.issue.is-plain {
  margin: 0;
  border-width: 0;
  border-top-width: 1px;
  border-radius: 0;
  &:first-child {
    border-top-width: 0;
  }
}

issue-list {
  span {
    .hilight-text {
      color: $cl-blue;
    }
  }
}

issue-list,
merge-issue-list {
  .menu-bar  {
    .sorting {
      float: left;
      border-radius: $ps-xxs;
      background: $cl-gray;
      padding: $gs-default/16 $ps-default;
    }

    .list-or-map {
      vertical-align: middle;
      float: right;

      span {
        font-size: $fs-sm;
        font-weight: $fw-bold;

        color: $cl-gray;

        &.active {
          color: $cl-primary;
        }
        cursor: pointer;
      }

      span.separator {
        margin: 0 $ps-xxs;
      }

    }
  }

  // li.issue {
  //   @include flexbox;
  //   @include flex-direction(row);
  //   @include flex-wrap(nowrap);
  //   @include justify-content(space-around);
  //   @include align-items(streth);
  //   @include align-content(stretch);

  //   border-radius: $ps-xxs;
  //   padding: $ps-small;

  //   background: white;
  //   border: 1px solid #eeeeee;
  //   margin: 1rem 0;

  //   label {
  //     font-size: 1.2rem;
  //     font-weight: bold;
  //     color: $cl-darkgray;
  //     margin-right: 0.5rem;
  //   }
  //   .meta {
  //     font-size: $fs-xs;
  //     .icon {
  //       margin-right: 0.5rem;
  //     }
  //   }

  //   .issue-select {
  //     @include flex(0, 0, 50px);
  //   }

  //   .issue-img {
  //     @include flex(0, 1, 150px);
  //     img,
  //     .img {
  //       margin:  0px;
  //       padding: 0px;
  //       vertical-align: middle;

  //       $size: 20%;
  //       line-height: $size;
  //       width:   $size;
  //       height:  $size;

  //       width: 100%;
  //       height: 0;
  //       padding-top: 100%;
  //       background-color: $cl-lightgray;
  //       background-size: cover;
  //     }
  //   }

  //   .issue-body {
  //     @include flex(2, 1, 320px);
  //     vertical-align: top;
  //     margin-left: $ps-small;
  //     width: 53%;
  //     position: relative;

  //     .issue-desc {
  //       max-height: 60px;
  //       overflow: hidden;
  //       text-overflow: ellipsis;
  //       margin-bottom: $ps-small;
  //     }

  //     footer {
  //       position: absolute;
  //       bottom: 0;
  //       left: 0;
  //       right: 1rem;
  //     }
  //   }

  //   .issue-id {
  //     b {
  //       margin-right: $ps-default;
  //     }
  //   }

  //   .bubble {
  //     padding: 0;
  //     color: $cl-primary;
  //     cursor: pointer;

  //     & + .bubble {
  //       margin-left: 0.5rem;
  //     }
  //   }

  //   .issue-tags {
  //     span {
  //        margin-right: $ps-xxs;
  //     }
  //   }

  //   .issue-info {
  //     @include flex(1, 1, 200px);
  //      border-left: solid 1px $cl-lightgray;
  //      padding: 0 $ps-xs;
  //      width: 25%;
  //      display: inline-block;
  //      vertical-align: top;
  //      text-transform: capitalize;

  //      div {
  //        vertical-align: middle;
  //        padding: $ps-xxs 0px;
  //      }

  //      .big-text {
  //         font-size: $fs-md;
  //         float: right;
  //      }

  //      .icon {
  //          vertical-align: middle;
  //          margin-right: $ps-xxs;
  //      }
  //   }

  //   .bt-manage-issue {
  //      border: 1px solid $cl-gray;
  //      cursor: pointer;
  //      display: inline-block;
  //      width: 100%;
  //      text-align: center;
  //   }
  // }

  .map-view {
      margin: $ps-xs 0;

      #issue-map {
           width: 100%;
           height: 500px;
      }
  }
}

.issue-view-modal {
  .main-content {
    border-right: 1px solid $cl-verylightgray;
  }

  #merged-parent,
  #merged-children {
    ul.list {
      margin: 0;
    }
  }
}

.leaflet-map-pane {
  z-index: 2 !important;
}

.leaflet-google-layer {
  z-index: 1 !important;
}

.issue-map-modal {
  #map-issue-box {
    width: 100%;
    height: 500px;
  }
  .modal-content {
    width: auto;
    padding: 0;
  }
  .modal-close {
    top: 10px;
    right: 10px;
    z-index: 1;
    &:before,
    &:after {
      background-color: $cl-default;
    }
  }
}
