issue-list {
  .menu-bar  {
    .sorting {
      float: left;
      border-radius: $ps-xxs;
      background: $cl-gray;
      padding: $gs-default/16 $ps-default;
    }

    .list-or-map {
      vertical-align: middle;
      float: right;

      span {
        font-size: $fs-sm;
        font-weight: $fw-bold;

        color: $cl-gray;

        &.active {
          color: $cl-primary;
        }
        cursor: pointer;
      }

      span.separator {
        margin: 0 $ps-xxs;
      }

    }
  }

  li.issue {

    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(space-around);
    @include align-items(streth);
    @include align-content(stretch);

    border-radius: $ps-xxs;
    padding: $ps-small;

    background: white;
    border: 1px solid #eeeeee;
    margin: 1rem 0;

    label {
      font-size: 1.2rem;
      font-weight: bold;
      color: $cl-darkgray;
      margin-right: 0.5rem;
    }
    .meta {
      font-size: $fs-xs;
      .icon {
        margin-right: 0.5rem;
      }
    }

    .issue-img {
      @include flex(0, 1, 150px);
      img,
      .img {
        margin:  0px;
        padding: 0px;
        vertical-align: middle;

        $size: 20%;
        line-height: $size;
        width:   $size;
        height:  $size;

        width: 100%;
        height: 0;
        padding-top: 100%;
        background-color: $cl-lightgray;
        background-size: cover;
      }
    }

    .issue-body {
      @include flex(2, 1, 320px);
      vertical-align: top;
      margin-left: $ps-small;
      width: 53%;
      position: relative;

      .issue-desc {
        max-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: $ps-small;
      }

      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 1rem;
      }
    }

    .issue-id {
      b {
        margin-right: $ps-default;
      }
    }

    .bubble {
      padding: 0;
      color: $cl-primary;
      cursor: pointer;

      & + .bubble {
        margin-left: 0.5rem;
      }
    }

    .issue-tags {
      span {
         margin-right: $ps-xxs;
      }
    }

    .issue-info {
      @include flex(1, 1, 200px);
       border-left: solid 1px $cl-lightgray;
       padding: 0 $ps-xs;
       width: 25%;
       display: inline-block;
       vertical-align: top;
       text-transform: capitalize;

       div {
         vertical-align: middle;
         padding: $ps-xxs 0px;
       }

       .big-text {
          font-size: $fs-md;
          float: right;
       }

       .icon {
           vertical-align: middle;
           margin-right: $ps-xxs;
       }
    }

    .bt-manage-issue {
       border: 1px solid $cl-gray;
       cursor: pointer;
       display: inline-block;
       width: 100%;
       text-align: center;
    }
  }

  .load-more-wrapper {
      text-align: center;
  }

  a.load-more {
       display: none;

       padding: $ps-xs $ps-default;

       border: 1px solid;
       cursor: pointer;

       border-radius: $ps-xxs;

       color: $cl-white;
       background: $cl-primary;

       &.active {
           display: inline-block;
       }
  }


  .map-view {
      margin: $ps-xs 0;

      #issue-map {
           width: 100%;
           height: 500px;
      }
  }
}
