$nav-left-width: 200px;
$nav-top-height: 64px;

main {
  padding-top: $nav-top-height;
  .page {
    // margin-top: $nav-top-height;
    margin-left: $nav-left-width;
    @media #{$small-and-down} {
      margin-left: 0;
    }

    .page-title {
      font-size: $fs-h3;
      color: $cl-primary;
      margin-top: 0;
    }

    .section-title {
      font-size: $fs-h4;
      color: $cl-primary;
      margin-top: 0;
    }

  }
}

// No header
body.hide-header {
  main {
    .page {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

// No sidebar
body.hide-sidebar {
  main {
    footer#footer {
      left: 0;
      margin-left: 0;
    }
  }
}

// Mobile nav modal
body.mobile-nav-active {
  main {
    filter: blur(5px);
  }
}