extends components/layout

append content
  #page-issue.page.content-padding
    issue-page

  - var superuser = (user.role === 'organization_admin') || (user.role === 'super_admin')

append app_script
  script.
    riot.mount('issue-page');
