extends components/layout

mixin reporter
  #reporter
    .slider
      ul.slides
    h5 Reported
    p by&nbsp;
      span
    p on&nbsp;
      span
    a.btn-flat(class=superuser ? undefined : 'hidden') Contact

mixin details
  #details
    h5 Description
    .input-field
      textarea.materialize-textarea(disabled=superuser ? undefined : true)
    h5 Category
    .chips.chips-initial
    h5 Location
    .chips.chips-initial
    h5 Tag
    .chips.chips-initial

append content
  #page-issue.page.content-padding
    issue-page

  - var superuser = (user_role === 'organization_admin') || (user_role === 'super_admin')

append app_script
  script.
    riot.mount('issue-page', { pins: !{JSON.stringify(pins)} })

  script.
