extends components/layout

prepend document
  - hide_header = true;

append head
  style
    :scss
      .page {
        .site-logo {
          width: 206px;
          height: 60px;
          margin: 2rem auto;
          background-image: url('/public/img/logo-l.png');
        }
      }

      .facebook-login {
        background-color: #3b5998;
      }

append content
  #page-login.page
    .container
      .row
        .col.s12.m8.offset-m2
          #login-box.content-padding.opaque-bg
            .row
              .col.s12.m8.offset-m2
                .site-logo.bg

                .input-field
                  a.facebook-login.btn.btn-block(href=site_url('/auth/facebook', app_config.api_url))
                    | Login with Facebook
