$activity-width: 320px;

#page-dashboard {

  margin-right: $activity-width;

  @media #{$medium-and-down} {
    margin-right: 0;
  }

  .left-panel {
    width: 100%;
    margin-right: $activity-width;
    border-right: solid $cl-verylightgray $ps-xxs;
  }

  .right-panel {
    width: $activity-width;
    position: fixed;
    top: 64px;
    right: 0;
    overflow: auto;
    height: 100%;
  }
  @media #{$medium-and-down} {
    .left-panel {
      width: 100%;
    }
    .right-panel {
      display: none;
    }
  }

  // a {
  //   color: $cl-darkgray;
  // }

  #big-number-table {
    padding: 2rem 0;
    background-color: $cl-white;
  }

  ul.duration-selector {
    margin: 0px;
    border-bottom: solid $ps-xxs $cl-verylightgray;
    li {
      float: left;
      display: block;
      text-align: center;
      width: 25%;
      height: 100%;
      border-top: solid $ps-xxs $cl-verylightgray;
      cursor: pointer;

      text-transform: capitalize;

      &.highlight {
        border-top-color: $cl-red;
      }

      div {
        padding: $ps-default;
      }


    }
  }

  .summary {
    border-bottom: $ps-xxs solid $cl-verylightgray;

    th {
      border-left: solid $ps-xs;
      background: $cl-verylightgray;
      vertical-align: top;

      &.team {
        // border-left-color: $cl-darkgreen;
      }

      &.assigned {
        border-left-color: $cl-blue;
      }

      &.processing {
        border-left-color: $cl-orange;
      }

      &.resolved {
        border-left-color: $cl-green;
      }

      &.rejected {
        border-left-color: $cl-red;
      }

      &.performance {
        border: none;
      }

    }

    .row {
      border-bottom: 1px solid $cl-verylightgray;

      .team {
        color: $cl-primary;
        width: 20%;
      }

      .performance {
        background:  $cl-lightgray;
        width: 15%;

        &.positive::before {
          float: left;
          color: $cl-green;
          content: '▲'
        }
        &.negative::before {
          float: left;
          color: $cl-red;
          content: '▼';
        }
      }

      .numeric-col {
         text-align: right;
         padding-right: $ps-small;
      }

      &.hide {
        display: none;
      }
    }
  }

  .performance-table {
    padding-top: 0;
    overflow: auto;
  }

  .recent-activity {
    padding: $ps-xs;

    .progress-item {
      a {
        &,
        strong {
          @include text-hover($cl-darkgray, $cl-link);
        }
      }
    }
    .activity {
      border-bottom: 1px solid $cl-verylightgray;
      padding: $ps-xs 0;

      .activity-item {
        display: inline-block;
        padding: 0 $ps-xs;
        vertical-align: middle;
        font-size: $fs-xxs;
        a {
          @include text-hover($cl-darkgray, $cl-link);
        }
        .description {
          white-space: pre-line;
        }
        .meta-time {
          color: $cl-gray;
          font-size: $fs-xs;
        }
      }
    }
  }

  .new-issue-list {
    // $li-height: 80px;
    // li.item {
    //   margin-top: $ps-small;
    //   height: $li-height;
    //   padding: 0px;

    //   img {
    //     $size: $li-height;
    //     width: $size;
    //     height: $size;
    //     vertical-align: middle;
    //   }

    //   span {
    //     display: inline-block;
    //     line-height: $li-height/2;
    //     height: $li-height;
    //     margin-left: $ps-xs;
    //     vertical-align: middle;
    //   }
    // }
  }

}
