#page-issue {
  h1 {
    border-bottom: solid $ps-xxs $bgc-tap;
    margin-bottom: 0;
  }

  .bt-new-issue {
    background: $cl-primary;
    color: $cl-white;
    padding: $ps-xs $ps-default;
    border-radius: $ps-xxs;
    font-weight: $fw-bold;
    float: right;
    display: inline-block;
    cursor: pointer;
    font-size: $fs-xs;

    span::after {
      content: "+";
      font-size: $fs-xl;
      margin-left: $ps-small;
      line-height: $fs-xs;
      vertical-align: middle;
    }
  }

  .status-selector {
    margin: 0;

    li {
      padding: $ps-small $ps-large;
      display: inline-block;
      color: $cl-gray;
      font-weight: $fw-bold;
      cursor: pointer;
      text-transform: capitalize;

      &.active {
        border-top: solid $ps-xxs $cl-red;
        color: $cl-primary;
      }
    }
  }
}
