@mixin issue-timespan() {
  $bw: 2px;
  display: inline-block;
  > .label,
  > .value {
    display: inline-block;
    position: relative;
    padding: 0 0.6rem;
    margin: 0;
    padding-right: 0;
    border: $bw solid $cl-darkblue;
    float: left;
    font-size: 1rem;
    line-height: 1.6;
    overflow: hidden;
    &:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    &:last-child {
      padding-right: 0.6rem;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  > .label {
    color: $cl-white;
    background-color: $cl-darkblue;
    + .value {
      padding-left: 15px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10px;
        border-radius: 20px;
        width: 20px;
        background-color: $cl-darkblue;
      }
    }
  }
  > .value {
    color: $cl-default;
    background-color: $cl-white;
    border-right: none;
    &:last-child {
      border-right: $bw solid $cl-darkblue;
    }
    + .label {
      padding-left: 15px;
      border-left: none;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10px;
        border-radius: 20px;
        width: 20px;
        background-color: $cl-white;
      }
    }
  }
}

#page-issue {
  h1 {
    border-bottom: solid $ps-xxs $bgc-tap;
    margin-bottom: 0;
  }

  .bt-new-issue {
    text-align: right;
  }

  .status-selector {
    margin: 0;

    li {
      padding: $ps-small $ps-small;
      display: inline-block;
      color: $cl-gray;
      font-weight: $fw-bold;
      cursor: pointer;
      text-transform: capitalize;

      &.active {
        border-top: solid $ps-xxs $cl-red;
        color: $cl-primary;
      }
    }
  }

  ul.issue-timespan {
    @include issue-timespan();
  }
}

#page-issue,
#page-issue-view {
  ul.issue-timespan {
    @include issue-timespan();
  }
}

#create-issue-modal {
  #photo {
    padding: 2rem 2rem;
    background-color: $cl-veryverylightgray;
  }
}
