#page-setting-user {
  .media.user-media {
    > .media-left {
      flex: 0 1 200px;
    }
    > .media-content {
      flex: 1 1 80px;
    }
    > .media-right {
      flex: 0 1 40px;
    }
  }
}

#page-setting-department {
  .media.department-media {
    > .media-left {
      flex: 1 1 200px;
    }
    > .media-content {
      flex: 1 1 80px;
    }
    > .media-right {
      flex: 0 1 40px;
    }
  }
}
