/*
 * @package YouPinWebAdmin
 */

@import 'util/bulma';
@import 'util/materialize';
@import 'util/reset-materialize-for-bulma';

/*!
 * Stylesheet
 */
@import 'util/mixins';
@import 'util/variables';
@import 'util/webfonts';
@import 'util/flexbox';

/* Third-party */
@import 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.css';
@import 'dep/pikaday';
@import 'dep/selectize';

/* Components */
@import 'components/helper';
@import 'components/base';
@import 'components/grid';
@import 'components/typography';
@import 'components/button';
@import 'components/icon';
@import 'components/image';
@import 'components/media';
@import 'components/list';
@import 'components/form';
@import 'components/table';
@import 'components/collection';
@import 'components/pagination';
@import 'components/breadcrumb';
@import 'components/badge';
@import 'components/tag';
@import 'components/tabs';
@import 'components/modal';
@import 'components/card';
@import 'components/loading-icon';
@import 'components/image-slider';
@import 'components/image-slider-lightbox';
@import 'components/toast';
@import 'components/collapsible';
@import 'components/collapsible-content';
@import 'components/dropdown';
@import 'components/issue-map-modal';

@import 'components/header';
@import 'components/footer';
@import 'components/page';
@import 'components/item';
@import 'components/issue-list';

/* Page */
@import 'page/common';
@import 'page/dashboard';
@import 'page/report';
@import 'page/issue';
@import 'page/issue_view';
@import 'page/settings';
@import 'page/search';
@import 'page/merge';
