extends ../components/layout

append content

  #page-error.page
    .container
      .row.no-spacing
        .col.s12.m6.offset-m3.l4.offset-l4

          .spacing-large

          .center

            i.icon.material-icons.large traffic

            h4.center= __('error.pagenotfound')

            h5= __('error.pagenotfound_description')

          .spacing-large
