extends ../components/layout

append content
  #page-setting-user.page.content-padding
    setting-user

append app_script
  script.
    riot.mount('setting-user', {
      department: !{JSON.stringify(department)}
    });
