mixin reporter
  #reporter
    .slider
      ul.slides
    h5 Reported
    p by&nbsp;
      span
    p on&nbsp;
      span
    a.btn-flat(class=user.is_superuser ? undefined : 'hidden') Contact

mixin details
  #details
    h5 Description
    .input-field
      textarea.materialize-textarea(disabled=user.is_superuser ? undefined : true)
    h5 Category
    .chips.chips-initial
    h5 Location
    .chips.chips-initial
    h5 Tag
    .chips.chips-initial

mixin priority
  h5 Priority
  .input-field
    select
      option(value='urgent') Urgent
      option(value='normal') Normal
      option(value='trivial') Trivial

.modal#manage-issue-modal
  .modal-header
    .row
      .col.s6
        h3 Manage Issue
      .col.s6.right-align
        if user
          if user.is_superuser
            a.btn-flat#archive Archive
            | &nbsp;
            a.btn-flat#reject Reject
            | &nbsp;
            a.btn-flat#goToNextState
            | &nbsp;
            a.btn#confirm Save
          else
            a.btn-flat#reject Reject
            | &nbsp;
            a.btn-flat#goToNextState
    .row
      .col.s12
        p
        .divider
  .modal-content
    .row
      .col.s12
        h4 ID&nbsp;
          span#id
    .row
      if user
        if user.is_superuser
          .col.s8
            .row
              .col.s6
                +reporter
              .col.s6
                +details
          .col.s4#status
            +priority
            h5 Department
            .input-field
              select
            h5 Annotation
            .input-field
              textarea.materialize-textarea
        else
          .col.s6
            h5 Details
            +reporter
            +details
            #status
              +priority
              h5 Assigned to
              .input-field
                select
          .col.s6#progress
            h5 Progress
            .input-field
              textarea.materialize-textarea
            .row
              .col.s8
                .file-field.input-field
                  input(type='file', accept="image/*")
                  .file-path-wrapper
                    input.file-path.validate(type="text", placeholder="Upload photo")
              .col.s4.right-align
                a.btn-flat#post Post
            #cards
